<h2 class="text-primary">Snippets</h2>

<div class="card border-1 border-primary">
    <div class="card-body">
        <img src="/images/0.start.png" alt="Start" class="card-img border-1 border-info m-1">
        <img src="/images/1.app-menu.png" alt="Menu" class="card-img border-1 border-info m-1">
        <img src="/images/2.church-data.png" alt="Data" class="card-img border-1 border-info m-1">
        <img src="/images/3.homepage.png" alt="Home" class="card-img border-1 border-info m-1">
        <img src="/images/4.homepage-1.png" alt="Page" class="card-img border-1 border-info m-1">
        <img src="/images/5.homepage-2.png" alt="Extended" class="card-img border-1 border-info m-1">
    </div>
</div>
