<div id="step-by-step" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/step-by-step.less</em>, <em>assets/js/pages/step-by-step.page.js</em>, and <em>api/controllers/view-step-by-step.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
